{% extends 'manufacturers.html' %}

<html>
{% block content%}
<h1>Does this work anymore</h1>
<form method="POST" , enctype="multipart/form-data">
    {% csrf_token %}
    <table class="w-50 table table-light" style="border-radius:10px; background-color:greenyellow;">
        {% for field in manufacturer %}
        <tr>
            <th>{{ field.label }}</th>
            <td>{{ field }}</td>
        </tr>
        {% endfor %}
    </table>
    <button type="submit" class="btn btn-log btn-warning"></button>
</form>
{% endblock%}

</html>