<html>

<body>
    <center>
        <div class="card-columns">
            {% for man in manufacturer %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ man.name }}</h5>
                    <p class="card-text">{{ man.support_site }}</p>
                    <div class="card-footer bg-transparent border-dark">
                        <p class="card-title">{{man.manuf_id}}</p>
                        <center>
                            <a href="update/{{man.manuf_id}}" class="btn btn-warning" id='{{man.manuf_id}}'>edit</a>
                            <a href="delete/{{man.manuf_id}}" class="btn btn-danger" id='{{man.manuf_id}}'>delete</a>
                        </center>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </center>
</body>

</html>