<!-- templates/base.html -->
<!DOCTYPE html>
<html>

<head>
    <style>
        .body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: auto;
        }
        
        h1,
        h3 {
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="body">
        <h1>BIDGOOD</h1>
        <h3>Welcome to Project Bidgood!</h3>
        <hr />
    </div>
</body>

</html>